<%= simple_form_for @invoice, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="form-inputs">
	  <%= f.input :month, :collection => MONTHS %>
    <%= f.input :year, :collection => years_for_select %>
    
    <!-- dont allow adding of invoice items unless the invoice has already been saved -->
    <% unless @invoice.new_record? %>
      
      <%= simple_fields_for :invoice_items do |i| %>
        <%= i.input :date %>
      <% end %>
      
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                invoices_path, :class => 'btn' %>
  </div>
<% end %>
