<%- model_class = Invoice -%>
<div class="page-header">
  <h1>Edit Invoice</h1>
</div>

<%= simple_form_for @invoice, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="form-inputs">
	  <%= f.input :month, :collection => MONTHS %>
    <%= f.input :year, :collection => years_for_select %>
  </div>
  
  <hr />
  
  <h3>Invoice Items</h3>
  
  <div class="form-inputs">
    <%= simple_fields_for :invoice_items do |builder| %>
      <%= render partial: 'invoice_item_fields', locals: { f: builder } %>
    <% end %>
    
    <%= link_to_add_fields "Add Item", f, :invoice_items %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                invoices_path, :class => 'btn' %>
  </div>
<% end %>

