<%- model_class = Invoice -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Invoice: #{@invoice.title}" %></h1>
</div>

<table class="table">
	
  <thead>
    <tr>
      <th>Client</th>
      <th>Date</th>
      <th>Hourly Rate</th>
      <th>Hours</th>
      <th>Cost</th>
      <th>Petrol</th>
      <th>Total</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    
    <% @invoice_items.each do |invoice_item| %>	
      <tr>
        <td><%= invoice_item.client.name %></td>
        <td><%= nice_date(invoice_item.date) %></td>
        <td><%= rounded_value(invoice_item.client.hourly_rate) %></td>
        <td><%= invoice_item.time_in_hours %></td>
        <td><%= rounded_value(invoice_item.cost) %></td>
        <td><%= rounded_value(invoice_item.petrol) %></td>
        <td><%= rounded_value(invoice_item.total_cost) %></td>
        
        <td><%= danger_link_button('x', invoice_item_path(invoice_item), method: :delete, confirm: 'Are you sure?') %></td>
      </tr>  
    <% end %>
    
  </tbody>
	
</table>

<h2>Add Item</h2>

<%= simple_form_for @invoice_item do |f| %>
  <div class="form-inputs">
    <%= f.input :client_id, collection: Client.all, label_method: :name, value_method: :id, required: true %>
    
    <label class="date required" for="invoice_item_date">
    <abbr title="required">*</abbr>
      Date
    </label>
    
    <input type="text" class="span2" value="<%= @invoice_item.date %>" data-date-format="mm/dd/yy" id="dp2" data-behaviour="datepicker" name="invoice_item[date]" required="true"/>
    <%= f.input :start, :as => :time, minute_step: 15, start_hour: 6, end_hour: 21, ampm: true %>
    <%= f.input :finish, :as => :time, minute_step: 15, start_hour: 6, end_hour: 21, ampm: true %>
    <%= f.input :petrol, required: false %>
    <%= f.input :invoice_id, :as => :hidden, input_html: { value: @invoice.id } %>
  </div>
  
  <div class="form-actions">
    <%= f.submit 'Add Item' %>
  </div>
<% end %>

</div>
